@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-active-effect {
    @apply hover:text-[#0db7ff] transition-all duration-150 active:text-[#0db7ff]/75;
  }
  .section-style {
    @apply bg-gradient-to-b from-[#0f0f0f]/75 to-[#0f0f0f]/90 border border-stroke-1 backdrop-blur-main rounded-out;
  }
  .fg-1 {
    @apply bg-gradient-to-b from-[#0f0f0f]/75 to-[#0f0f0f]/90;
  }
  .fg-2 {
    @apply bg-white/[.03];
  }
  .fg-3 {
    @apply bg-gradient-to-b from-[#0c0c0c]/[.45] to-[#0c0c0c]/50;
  }
}

::selection {
  color: black;
  background: #0db7ff;
}

::-webkit-scrollbar {
  border-radius: 100px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgb(250, 250, 250, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(250, 250, 250, 0.2);
}
