@tailwind base;
@tailwind components;
@tailwind utilities;

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* Tailwind classes */

.hover-active-effect {
  @apply hover:text-[#0db7ff] transition-all duration-150 active:text-[#0db7ff]/75;
}

.h1 {
  @apply text-h1 font-bold font-sans leading-[110%];
}

.h2 {
  @apply text-h2 font-semibold font-sans leading-[110%];
}

.h3 {
  @apply text-h3 font-semibold font-sans leading-[110%];
}

.strong-body {
  @apply text-strong-body font-semibold font-sans leading-[133%];
}

.body {
  @apply text-body font-normal font-sans leading-[26px];
}

.subtext {
  @apply text-sub font-normal font-sans leading-[26px];
}

.mono {
  @apply text-mono font-mono leading-[150%];
}

/* Scroll & selection */

::selection {
  background: #0db7ff;
  color: black;
}

::-webkit-scrollbar {
  border-radius: 100px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgb(250, 250, 250, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(250, 250, 250, 0.2);
}
